
.header{
	color:black;
	min-height:80px;
}

.boxes{
	width:30%;
	display:inline-grid;
	margin:1.5%;
}
.header-line{
	min-height:40px;
	background:lightyellow;
}

.list-div{
	min-height:480px;
	margin:1.5%;
}

.list-header{
	text-align : center;
	font-size:30px;
	color:black;
}
.list{
	list-style:none;
	min-height:380px;
	color:black;
	text-align:left;
    padding: 10 10 0 40 !important;
	font-size:20px;
}
a > strong{
	background: lightgray;
    border-radius: 10px;
    padding: 5px;
    color:black;
}
.list li{
	border-top: 1px solid black;
    padding: 8 0 8 0;
}
.list li:hover{
    opacity: 0.5;
    background: lightcyan;
}
.lost-link{
	color:yellow;
	margin-left:10px;
}

.blinking-lost{
    animation:blinkingLostText 2s infinite;
}
@keyframes blinkingLostText{
    0%{     color: red;    }
    49%{    color: red; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

.blinking-found{
    animation:blinkingFoundText 2s infinite;
}
@keyframes blinkingFoundText{
    0%{     color: green;    }
    49%{    color: green; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: green;    }
}

.blinking-lost-border{
	background-image : linear-gradient(white, #f95b5b);
}

.blinking-found-border{
	background-image:linear-gradient(white,lightgreen);
}

.claim-list-div{
	background-image:linear-gradient(white,lightgrey);
}

.formBox{
	height: 480px;
    margin-top: 40px;
    padding-top: 70px;
    border-top: 1px solid black;
}

a.viewall:hover{
	font-weight:600;
}

a:hover, a:visited, a:focus{
	text-decoration:none !important;
	color:black !important;
}
.form-form{
	margin-left: -50px;
    padding-right: 30px;
}

@media only screen and (max-width: 500px) {
    .boxes {
       display:block;
       width:100%;
    }
}